<div class="container-fluid">
  <div class="row">
    <div class="col-2">
    </div>

    <div class="col-10">
      <h3> Hello <%= first_name%> </h3>
      <p>We'd like to welcome you to our platform, RunIt.</p>
    </div>

  </div>
<div>
