<link rel="stylesheet" href="css/lambda.css" />
<!-- For displaying icons in Lambda Table -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <table id="lambda-table" class="table round-form">
        <thead class="thead-dark">
          <tr>
            <th>Lambda Name</th>
            <th>Last Triggered</th>
            <th>Created At</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          <% lambdas.each do |lambda| %>
            <%= lambda_to_html_row(lambda) %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-6">

      <form class="round-form lambda-create-form">
        <div class="col-5">
          <div class="form-group">
            <label for="lambdaName">Lambda Name</label>
            <input type="" class="form-control" id="lambdaNameInput" name="lambdaName" placeholder="Enter lambda name" pattern="[a-zA-Z][a-zA-Z0-9]{7,20}" required title="8 to 21 alphanumeric name starting with a letter">
          </div>
          <%= print_error(errors, 'lambdaName') %>
        </div>


        <div class="form-group">
          <div class="col-5">
            <label for="lambdaCode">Lambda Code</label>
          </div>

          <div class="col-10">
            <textarea class="form-control" id="lambdaCodeInput" name="lambdaCode" rows="10" cols="50" required></textarea>
          </div>
        </div>

        <button type="submit" class="btn btn-primary lambda-create" style="margin-left:30%">Create Lambda</button>
      </form>

    </div>
  </div>
</div>

<script src="js/lambda.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
